# LLM API Keys
GOOGLE_API_KEY="your-google-api-key-here"
OPENAI_API_KEY="your-openai-api-key-here"

# Observability (LangSmith)
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your-langsmith-api-key-here"
LANGSMITH_PROJECT="langgraph-tutorial"
